extends ../../components/head/head
block title
    | index

block main
    div#fullpage
        div.section.slide-one
            img.text-panki(src=require('./img/text-panki.png'))
            img.logo(src=require('./img/logo-slide-one.png'))
        div.section.slide-two
            img.human(src=require('./img/human.png') data-depth="0.2")
            div.stecklo(data-depth="0.1")
            div.title-slide(data-depth="0.4")
                div.image-block
                    img.gos-kreml(src=require("./img/k.png"))
                    img.warn(src=require("./img/2.png"))
                div.image-block
                    img.date(src=require("./img/date.png"))

            //div.humman

        div.section Some section 3
        div.section Some section 4
    //div.slided-two#slide-two
    //    div.content
    //        div.title-slide
    //            div.image-block
    //                img.gos-kreml(src=require("./img/k.png"))
    //                img.warn(src=require("./img/2.png"))
    //            div.image-block
    //                img.date(src=require("./img/date.png"))
    //        div.block-buy-ticket
    //            a(href="" class="buy-ticket") Купить билет
    //            img(src=require("./img/logo.png"))
    //        div.block-bottom
    //            img(src=require("./img/text_name.png"))
    //            img(src=require("./img/logo_kreml.png"))
    //            img(src=require("./img/age.png"))